workflows/Customer_Support_Workflow.json
{
  "name": "Customer Support Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        80
      ],
      "id": "9de33265-56d5-4c10-b9fc-293baf8b90cb",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Hr5RuyL2gKdu6DgP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "customer support",
              "description": "A customer support email is a message sent by a customer to ask for help, report a problem, request information, or get assistance related to a product or service."
            },
            {
              "category": "other ",
              "description": "any email that is not customer support related"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        220,
        70
      ],
      "id": "24348736-dfea-429d-9703-f0bde4496707",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": "nvidia/llama-3.3-nemotron-super-49b-v1.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        308,
        290
      ],
      "id": "94b0349c-4854-4eda-8df1-2d120ef1e105",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Bp6dP61TB1usPD94",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        734,
        220
      ],
      "id": "2a451091-ad5f-48c2-8631-62b3f64a6981",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "=you are a customer support agent for tech haven.your job is to respond to incoming email with information using oyu knowladge tool.\nyou output  should be friendly and use the emojiis\nsigns off as Ms. Helpful from tech haven solutions.\noutput only the body content of the email"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        612,
        -180
      ],
      "id": "74be8451-b9eb-4ef9-bfc5-0c14e1044718",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knoledgebase",
        "toolDescription": "call this tool to  access  FAQ informations",
        "pineconeIndex": {
          "__rl": true,
          "value": "thirdtry",
          "mode": "list",
          "cachedResultName": "thirdtry"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        920,
        20
      ],
      "id": "d5185996-cde6-4241-bf24-300b9050c0bd",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Yw6joI0d26XWhc9a",
          "name": "PineconeApi account 3"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1020,
        240
      ],
      "id": "2c843bb0-e9a3-47ed-885f-294a34e7c863",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "AVRXCVaD5oDESDJi",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "nvidia/llama-3.3-nemotron-super-49b-v1.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        640,
        40
      ],
      "id": "8660ef29-80c5-4267-830f-f08fe2415ee6",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "Bp6dP61TB1usPD94",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1420,
        -180
      ],
      "id": "010f6e26-ee10-4144-b2c0-fe10243030db",
      "name": "Gmail",
      "webhookId": "af4e6941-ac5e-47f7-a09b-e3c3dcfb88d7",
      "credentials": {
        "gmailOAuth2": {
          "id": "Hr5RuyL2gKdu6DgP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "CATEGORY_UPDATES"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1020,
        -180
      ],
      "id": "c331b251-4808-46d4-a4d7-5383c83acecf",
      "name": "Gmail1",
      "webhookId": "eba916ad-4536-4498-9f96-0352bd37434d",
      "credentials": {
        "gmailOAuth2": {
          "id": "Hr5RuyL2gKdu6DgP",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ffd39378-2dea-4a82-925a-8f9508d50a9f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bbfcfef1e1e7b21a82fcceca62de0127542faa97679f15a5f1b069cc55def605"
  },
  "id": "aSbBG5ExUVfiAw9X",
  "tags": []
}